.register {
  text-align: center;
}

.register__title {
  margin: 30px 0;
}

.register__error {
  color: red;
}

.register__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  padding: 50px;
  border: 1px solid gray;
  border-radius: 10px;
  width: 410px;
}

.register__block {
  margin-bottom: 20px;
}

.register__block-input input {
  width: 100%;
  padding: 5px 15px;
  border: 1px solid grey;
  border-radius: 5px;
  margin-bottom: 20px;

  &:focus {
    outline: none;
    box-shadow: 0 0 7px 3px teal;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.register__btn {
  text-decoration: none;
  padding: 5px 35px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  color: #ffffff;
  background-color: teal;
  &:focus {
    box-shadow: 0 0 7px 3px teal;
  }

  &:hover {
    color: #ffffff;
    opacity: 0.7;
    transition: 0.35s;
  }
  &:active {
    outline: none;
  }
}

.register__link {
  margin-top: 20px;
}
